*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
.logoimage{
    width: 7%;
    cursor: pointer;
    margin-right: auto;
}

.navbar{
    background-color: rgb(255, 255, 255);       
}
.upperlinks a{
    text-decoration: none;
    margin-left:  30% auto;
    padding: 70px 75px;
    color: rgb(0, 0, 0);
}
.upperlinks, li{
    display: inline-block;
}
.upperlinks li:hover{
border: 5px solid rgb(70, 70, 70);
border-radius: 15px;
}
.upperlinks li a{
    transition: all 0.3s ease 0s;
}
.upperlinks li a:hover{
    color: teal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.enquiryBtn{
    margin-right: 10px;
    padding: 6px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #510e9e;
    color: blanchedalmond;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(0, 90, 93);

}
